<form class="ng-untouched ng-pristine ng-valid" name="form1">
  <div class="row">
    <div class="col-md-4 push-sm-1">
      <div class="form-group">
            <label for="input03">Corporate Name</label>
            <input type="text" class="form-control" [(ngModel)]="userDetails.corporateName" name="corporateName" />
        </div>
        <div class="form-group">
            <label for="input03">First Name</label>
            <input class="form-control" [(ngModel)]="userDetails.firstName" name="firstName" />
        </div>
        <div class="form-group">
            <label for="input03">Last Name</label>
            <input class="form-control" [(ngModel)]="userDetails.lastName" name="lastName" />
        </div>
        <div class="form-group">
            <label for="input03">Type</label>
            <input class="form-control" [(ngModel)]="userDetails.type" name="type" />
        </div>
    </div>
    <div class="col-md-4 push-sm-2">
        <div _ngcontent-wqt-27="" class="form-group">
          <label _ngcontent-wqt-27="" for="exampleSelect1">Role</label>
          <select _ngcontent-wqt-27="" class="form-control" id="exampleSelect1">
            <option _ngcontent-wqt-27="">Role 1</option>
            <option _ngcontent-wqt-27="">Role 2</option>
            <option _ngcontent-wqt-27="">Role 3</option>
            <option _ngcontent-wqt-27="">Role 4</option>
            <option _ngcontent-wqt-27="">Role 5</option>
          </select>
      </div>
      <div _ngcontent-efd-27="" class="form-group">
        <label _ngcontent-efd-27="" for="exampleSelect2">List of Devices</label>
        <select _ngcontent-efd-27="" class="form-control" id="exampleSelect2" multiple="">
          <option _ngcontent-efd-27="">Mobile</option>
          <option _ngcontent-efd-27="">iPad</option>
          <option _ngcontent-efd-27="">Laptop</option>
          <option _ngcontent-efd-27="">Keys</option>
        </select>
      </div>
      <button style="float: right;" (click)="addUser()" class="btn btn-danger" type="submit">Submit</button>
      
      <br>
    </div>
  </div>
</form>